/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url('components/banner.css');
@import url('components/cards.css');
@import url('components/footer.css');
@import url('components/button.css');
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}



h1, h2, h3, h4 {
  font-family: Poppins;
}



a {
  text-decoration: none;
}


/* Custom design below! */

.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  height: 18px;
  display: inline-block;
  background-color: #a25b5a;
  padding: 16px 24px;
  border-radius: 4px;
  margin-right: 32px;
}


